body {
  padding-top: 70px;
  background-color: #F1F1F1;
  font-family: 'Montserrat', sans-serif;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 110px auto;
  width: 110px;
  height: auto;
  margin-left: 10px !important;
  margin-top: 12px;
}

.section-navbar p, a{
  color: #3C8BED;
}

input[type="text"], input[type="password"] {
  border-radius: 20px;
  height: 40px;
}

.btn-raptor {
  border-radius: 20px;
  background-color: #3C8BED;
  color: white;
  border-color: #3C8BED;
}

.panel-raptor {
  border-radius: 3px;
  border-color: #ddd;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.panel-raptor>.panel-heading {
  background-color: white;
  border: solid 0px;
  border-bottom-width: 1px;
  border-color: #ddd;
  padding: 0px 10px 0px 10px;
}

.panel-raptor>.panel-body {
  background-color: white;
  border: solid 0px;
  border-bottom-width: 1px;
  border-color: #ddd;
  padding: 0;
}

.btn-raptor:hover, .btn-raptor:focus, .btn-raptor:active, .btn-raptor.active, .open>.dropdown-toggle.btn-raptor {
  background-color: #246CC6;
  color: white;
  border-color: #246CC6;
}

/* NAVBAR */

.section-navbar .search-input {
  max-width: 200px;
  float: left;
  height: 35px;
  margin-right: 5px;
  border-radius: 20px;
  font-weight: normal;
  box-shadow: inset 0px 0px 0px 0px white;
  border-color: #D6D6D6;
}

.section-navbar .navbar-raptor {
  background-color: white;
  border-color: #D6D6D6;
}

/* PROFILE */

.panel-profile {
  padding-top: 30px;
  padding-bottom: 40px;
  background: rgba(60,139,237,1);
  background: -moz-linear-gradient(top, rgba(60,139,237,1) 0%, rgba(15,89,179,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(60,139,237,1)), color-stop(100%, rgba(15,89,179,1)));
  background: -webkit-linear-gradient(top, rgba(60,139,237,1) 0%, rgba(15,89,179,1) 100%);
  background: -o-linear-gradient(top, rgba(60,139,237,1) 0%, rgba(15,89,179,1) 100%);
  background: -ms-linear-gradient(top, rgba(60,139,237,1) 0%, rgba(15,89,179,1) 100%);
  background: linear-gradient(to bottom, rgba(60,139,237,1) 0%, rgba(15,89,179,1) 100%);
  border-color: #246CC6;
  color: white;
  max-width: 300px;
  min-width: 150px;
  margin-bottom: 20px;
}

.panel-profile a {
  color:white;
}

.panel-profile ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.panel-profile li {
  display: block;
  text-align: center;
}

.panel-profile .profile-picture {
  margin: 20px 0px 20px 0px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 3px;
  border-color: white;
}

/* TIMELINE */

.section-posting {
  padding: 10px;
}

.timeline-heading {
  height: 50px;
  line-height: 48px;
  font-weight: 500;
  padding: 0;
}

.timeline-heading a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin-right: 20px;
  text-align: center;
}

.timeline-heading .active{
  color: #3C8BED;
  border-color: #3C8BED;
  border: solid 0px;
  border-bottom-width: 2px;
}

.panel-rawr {
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: solid 0px;
  border-bottom-width: 1px;
  border-color: #ddd;
  margin: 0;
  padding: 10px;
  padding-bottom: 20px;
  word-wrap:break-word;
  overflow-wrap: break-word;
}

.panel-rawr a {
  color: black;
}

.panel-rawr .profile-picture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: solid 2px;
  border-color: #dadada;
  text-align: center;
}

.panel-trends {
  padding: 10px;
  min-width: 150px;
  word-break: break-all;
  -ms-word-break: break-all;
}

.panel-trends>h5 {
  text-align: center;
}

.panel-trends>ul {
  list-style-type: none;
  padding: 0;
}

.section-not-found .raptor-logo {
  height:200px;
  border-radius: 50%;
  border: solid 5px;
}
